# Let's start programming

In this section we will start learning about the our Jupyter IDE and basics of programming with Python.

## Contents

### [0. Working with the Jupyter notebook](#Jupyter)

### [1. Basics of Python ](#Basics)

<a name="Jupyter"></a>
## 0. Working with the Jupyter notebook
<img src="../Content/Media/jupyter.png" style="width: 100px">  

- The so called "Jupyter Notebook" app allows us to write formatted text together with executable code. 
- This document is a Jupyter Notebook file (with file extension .ipynb).

### Our Dashboard
Home folder of the Jupyter Notebooks. There we can open our notebooks and also create new ones. Just click on the "Jupyter" logo in the left upper corner.

#### Jupyter has "cells" (sections of text)**
Jupyter notebook allows us to write nicely organized text along with sequential codes inside sections. These sections are called **"cells"**

#### Jupyter has 2 types of cells: 
- **MARKDOWN**
    - Used to write formatted text (headings, subheadings, images etc.)
- **CODE**
    - Used to write executable code.
    - Look for -> "In [ ] " before the cells
    
#### Jupyter has 2 types of modes: 
- **EDIT**
    - press **ENTER** or double click **inside** the cell
    - For writing inside the cells 
    - Cell border becomes **<font color=green>GREEN:</font>**
- **COMMAND**
    - press **ESC** or click **next** to the cell
    - Used to edit blocks of cells
    - Cell border becomes **<font color=blue>BLUE:</font>**

#### Press Shift + ENTER to execute a code cell and activate a markdown cell

## This is a **MARKDOWN** cell, double click to investigate contents

Headings start with "#", number of # indicates heading level (subheadings)

shift+ENTER to activate the cell again.

## Below is a CODE cell

In [1]:
# A code cell
# This is a comment in python code starting with "#"

1+1 # This is a python statement (a complete line of code that does an action)

2

<a name="Basics"></a>
## 1. Basics of Python

### Overview:
#### - [Python as a calculator](#calculator)
#### - [Variables](#var)
#### - [Errors](#err)
#### - [Data types](#datype)
- For single data points
    - [integers](#int)
    - [floats](#float)
    - [strings](#str) 
    - [booleans](#bool)
- For multiple data points
    - [lists](#list)
    - [tuples](#tup)
    - [dictionaries](#dict)
    
#### - [Type conversions](#type_conv)

<a name="calculator"></a>

<a name="calculator"></a>
## Python as a calculator
Python can be used as a calculator. And basic mathematical operations can be easily done using **python operators** (pre defined symbols for doing operations between values or variables). 

| Operator | Name    |
|------|------|
|```+```  | Addition|
|```-```  | Subtraction|
|```*```  | Multiplication|
|```/```  | Division|
|```**```  | Exponentiation|
|```%```  | Modulus|

In [18]:
# Examples for some operators
1+5

6

In [19]:
2*3

6

In [20]:
2**3

8

In [11]:
100%24

4

The **order** of operations is important
Use parantheses to define order of operations```()```

In [12]:
# Add 3 to 5 and divide by 4 -> result is 2
3+5/4

4.25

In [13]:
(3+5)/4

2.0

How can we store the result of our calculation in python? Through **variables**

<a name="var"></a>
## Variables

Variables are used to store data of any sort.

Variables are created with an assignment statement. The syntax (kind of grammar) of variable assignment is:

```variable_name = a value``` (or an expression e.g., ```1+1```)

In [14]:
x = 100 # x is the variable name, 100 is its value

We just *defined* a variable by assigning a value. Now we can use it.

In [15]:
x/10

10.0

In [16]:
x+2

102

### Naming variables
Python variable names:
- can contain letters, numbers and underscores
- can NOT start with a number
- are case sensitive (example_Variable vs example_variable)

Variable names should be **descriptive** (but not too long, otherwise your code will look very complicated) 
- number_of_all_cells -> cell_num

<a name="err"></a>
## Errors

We are all human. Sometimes we might write incorrect code and python might inform this to us by producing an error. These errors also contain messages that explain what went wrong while python was executing your code.

In [17]:
print(y)
y = 10

NameError: name 'y' is not defined


These messages are composed in a logical way, :
1. What is the **type of error** (<font color=red>NameError</font>)
2. **Where (which file)** the error occured (in our case this is not useful)
4. **Which line** has the error producing code
4. **Why** there was an error

<a name="errorex"></a>
#### Practice: 
Investigate our previous error message and find the corresponding error components. Fill the cell below with your answers.

##### FILL BELOW

Error type:

File: (Just skip this since we have only this file.)

Line:

Reason:

<a name="datype"></a>
## Data types

Data are of different types.

For example: Data that contain names would consist of characters and data that contain ages would consist of numbers. 

Python's most common data types are:

#### For numbers:
- [integers](#int) (for storing integers - whole numbers - e.g. 2)


- [floats](#float) (for storing numbers with fractions e.g. 1.0025)

#### For characters (text):
- [strings](#str) 

#### For logicals (1, 0 - True, False):
- [booleans](#bool) (binary data: True or False) 

#### For multiple data points:
- [lists](#list) (for storing an arbitrary dimension of data points e.g. a time trace)


- [tuples](#tup) (storing data pairs of same type e.g. XY coordinates)


- [dictionaries](#dict) (for storing parameters (key:value) e.g. "age":27)

<a name="int"></a>
### Integers

In [36]:
# Below are some examples of integers
my_age = 28
my_birthyear = 1992

print("I am {age} years old".format(age=my_age))
print("I was born on {year}".format(year=my_birthyear))

I am 28 years old
I was born on 1992

We can check the type of variables by using ```type()``` function

In [37]:
# Usage of type() function
type(my_age)

# Print the type
print(type(my_age))

# It will print out: <class 'int'> meaning that 
# the type (you call data types "class") is integer

<class 'int'>

In [38]:
# As you remember we can do calculations with Python like a calculator
x = 3
y = 4
z = x*y


print("x is {xVal}, y is {yVal}, z is {zVal}.".format(xVal=x, yVal=y, zVal=z))
print("x is {xType}, y is {yType}, z is {zType} ".format(xType=type(x), 
                                                         yType=type(y), 
                                                         zType=type(z)))

x is 3, y is 4, z is 12.
x is <class 'int'>, y is <class 'int'>, z is <class 'int'>

Now we have defined several varibles in the previous cells. These are stored in our **workspace**

write ```whos``` to check which variables we have in our current workspace.

In [41]:
whos

Interactive namespace is empty.

We can erase them using ```%reset```

In [40]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [42]:
whos

Interactive namespace is empty.

#### Practice : <a name="errorex"></a>
1. Generate two integer type variables of your choice
2. Do a calculation that yields a fractional value (e.g. 5/2 = 2.5)
3. What is the type of our result variable (z, in this case)

In [3]:
# Below goes your code
x = 5
y = 2
z= x/y
# Your code ends


print("x is {xVal}, y is {yVal}, z is {zVal} ".format(xVal=x, yVal=y, zVal=z))
print("x is {xType}, y is {yType}, z is {zType} ".format(xType=type(x), 
                                                         yType=type(y), 
                                                         zType=type(z)))

x is 5, y is 2, z is 2.5
x is <class 'int'>, y is <class 'int'>, z is <class 'float'>

<a name="float"></a>
### Floats
**Floating point number** (Float) is a way of representing a non-integer real number with a computer.

In [21]:
# Calculating Body Mass Index (BMI)
my_weight = 75.4
my_height = 183.5 # Height in cm
my_height_meters = my_height / 100 # Calculate height in meters

my_BMI = (my_weight/((my_height_meters)**2)) 

print("BMI is: {bmi}".format(bmi=my_BMI))
print(type(my_BMI))

BMI is: 22.392326025139397
<class 'float'>

<a name="str"></a>
### Strings

What if we want to store characters instead of numbers? Usually we want to store a set of characters instead of storing each character 1 by 1 (like instead of storing - n, a, m, e - we want to store them together as -name-). This is called a string of characters. That's why the type is also called **string**.

In [6]:
# Some string examples
my_name = "Burak"
my_country = "Turkey"

In [82]:
# Check the type of the variable "my_name" below

# Your code below

# Your code ends

- We should use **double quoutes ```" __ "``` or single quotes ```' __ '```** when limiting a string.
- We can use the escape ```\\``` character to continue our string in the next line.
- Or, we can use **triple quoutes ```''' __ '''```** if we would like to use multiline strings

In [22]:
# Defining a single line string
singleLineString = 'ABC' # or "ABC" also works fine

# Defining a multi line string
multiline_string_1 = 'Our text is getting too long \
so I can continue on the next line of code' 

print(singleLineString)
print(multiline_string_1)

ABC
Our text is getting too long so I can continue on the next line of code

In [23]:
# A multiline string
multiline_string_2 = '''This
is 
a
multiline
string
'''
print(multiline_string_2)

This
is
a
multiline
string

#### Adding blank space (a.k.a. whitespace)
- Use ```\n``` to add a new line (like pressing enter)
- Use ```\t``` for adding a tab

In [35]:
# New line example
two_line_string = 'Hello \n world'
print(two_line_string)

Hello
 world

In [34]:
# Tab example
two_line_string = '\tHello  world'
print(two_line_string)

	Hello  world

#### Concatenating (combining) 
Sometimes we want to combine strings. There are many ways of doing it. 

A fast and easy-to-read way is using the plus **```+```** operator.

In [24]:
my_name = "Burak"
my_surname = "Gur"


my_fullname = my_name + my_surname # Just joining them together
my_fullname_nice = my_name + ' ' + my_surname # Joining with a space


print(my_fullname)
print(my_fullname_nice)

BurakGur
Burak Gur

#### Practice: Printing age as text
hint: [Use the error practice](#errorex)  we did before to really understand why the error is produced. Then solve it using the concept of [type conversions](#type_conv).

In [25]:
my_name = "Burak"
my_surname = "Gur"
my_age = 28


my_info = my_name + ' ' + my_surname + ' age: ' + my_age 


print(my_info)

TypeError: can only concatenate str (not "int") to str

In [26]:
# Your code goes below
my_name = "Burak"
my_surname = "Gur"
my_age = 28


my_info = my_name + ' ' + my_surname + ' age: ' + str(my_age) 


print(my_info)
# Your code ends here

Burak Gur age: 28

**The output should be:**

Burak Gur age: 28

#### String formatting
An easier way of concatenating is with the ```format()``` function.

In [30]:
my_name = "Burak"
my_surname = "Gur"
my_age = 28


my_info = "Name is: {name}, surname is: {surname}, age is: {age}".format(name=my_name,
                                                                        surname=my_surname,
                                                                        age=my_age)
print(my_info)

Name is: Burak, surname is: Gur, age is: 28

<a name="bool"></a>
### Booleans

Booleans are data that can vary between only two values (binary) e.g. **0-1** or **True-False**

In [45]:
# Example of boolean
name = "Burak"
surname = "Gur"
age = 28
is_student = True
is_female = False

<a name="list"></a>
### Lists
Lists are used to store multiple data points. While defining a list, surround the list with brackets ```[]``` and separate each element with a comma ```,```.

In [1]:
ages = [18, 23, 25, 24, 20, 33, 35]

Curious of how many elements your list has? You can use the ```len()``` function.

In [4]:
list_length = len(ages)

print("My list has {elem_n} elements".format(elem_n = list_length))

My list has 7 elements

<a name="tup"></a>
### Tuples

<a name="dict"></a>
### Dictionaries

<a name="type_conv"></a>
### Converting types
Sometimes we want to convert the types of variables in order to work with other variables of other types.

For example if I want to print an **integer** type variable then I should first **convert** it into a **string** type so the **print()** function can understand the data.

In [17]:
# Type conversion is done by using type names as functions 
my_age = 28

print("First 'my_age' was: " + str(type(my_age)))


# Convert the type using the target type name as a function: str(), int()
my_age_text = str(my_age)

print("Then 'my_age_text' became: " + str(type(my_age_text)))

# Then we can print it without errors
print("My age is: " + my_age_text)

First 'my_age' was: <class 'int'>
Then 'my_age_text' became: <class 'str'>
My age is: 28