# Let's start programming

In this section we will start learning about our coding environment Google Colab and basics of programming with Python.

## Contents

#### [Working with Jupyter Notebooks and Google Colab](#Colab)

#### [Basics of Python](#Basics)

<a name="Colab"></a>
# Working with Jupyter Notebooks and Google Colab

This is a Jupyter Notebook, which is a basically just a super fancy Python shell.
  - We can write formatted **text together with executable code**.
  - Allows **rapid development** of Python code by writing small bits and testing them.
  - We can **easily share** our code with others and they can run it without problems.

Colab allows us to take a Jupyter Notebook (a file with .ipynb extension) and lets us edit/run the code in the notebook for free! 
  - Has many **pre-installed packages**.
  - Runs on the **Google Cloud** - doesn't depend so much on your computer capabilities.
  - Even **GPU usage** is provided free of charge for some hours of usage every day. This lets us run heavy code much faster. Not relevant here but you might need in the future.

For example, to run a code, just hover the mouse over ```[ ]``` and press the play button to the upper left. Or press **shift-enter to execute**.

- Below we have a code, just run it without trying to understand.

In [1]:
print ('Hello World')

Hello World

Great! Let's move on to working with Python.

<a name="Basics"></a>
# Basics of Python

### Overview:
#### - [Python as a calculator](#calculator)
#### - [Variables](#var)
#### - [Errors](#err) 
#### - [Data types](#datype)
- For single data points
    - [**integers**](#int) - for numbers without decimals
    - [**floats**](#float) - for numbers with decimals
    - [**strings**](#str) - for characters, words etc.
    - [**booleans**](#bool) - for binary (True or False, 1 or 0)
- For multiple data points
    - [**lists**](#list) - for storing multiple data points
    - [**tuples**](#tup) - for storing pairs of data
    - [**dictionaries**](#dict) - for storing key-value pairs
    
#### - [Type conversions](#type_conv)
#### - [Indexing](#indexing) 
#### - [Loops](#loops) 
#### - [Conditionals](#conditionals)

<a name="calculator"></a>
## Python as a calculator
Python can be used as a calculator. And basic mathematical operations can be easily done using **python operators** (pre defined symbols for doing operations between values or variables). 

| Operator | Name    |
|------|------|
|```+```  | Addition|
|```-```  | Subtraction|
|```*```  | Multiplication|
|```/```  | Division|
|```**```  | Exponentiation|
|```%```  | Modulus|

In [2]:
# Examples for some operators
1+5

6

In [3]:
2*3

6

In [4]:
2**3

8

In [5]:
100%24

4

The **order** of operations is important
Use parantheses to define order of operations```()```

In [6]:
# Add 3 to 5 and divide by 4 -> result is 2
3+5/4

4.25

In [7]:
(3+5)/4

2.0

How can we store the result of our calculation in python? Through **variables**

<a name="var"></a>
## Variables

Variables are used to store data of any sort. You can think of them as a sticky note:

Variables are created with an assignment statement. The syntax (kind of grammar) of variable assignment is:

```variable_name = a value``` (or an expression e.g., ```1+1```)

In [8]:
weight_kg = 65.0 # weight_kg is the variable name, 65.0 is its value

We just *defined* a variable by assigning a value. Now we can use it.

You can think of a variable as a sticky note:

<img src="https://github.com/bgur123/python-beginners-course/blob/master/Content/Media/python-sticky-note-variables.svg?raw=1" width ="200px">

In [9]:
# There are 2.2 pounds per kilogram
weight_lb = 2.2 * weight_kg

10.0

### Naming variables
Python variable names:
- can contain letters, numbers and underscores
- can NOT start with a number
- are case sensitive (example_Variable vs example_variable)

Variable names should be **descriptive** (but not too long, otherwise your code will look very complicated) 
- number_of_all_cells -> cell_num

<a name="err"></a>
## Errors

We are all human. Sometimes we might write incorrect code and python might inform this to us by producing an error. These errors also contain messages that explain what went wrong while python was executing your code.

In [11]:
print(y)
y = 10

NameError: name 'y' is not defined


These messages are composed in a logical way, :
1. What is the **type of error** (<font color=red>NameError</font>)
2. **Where (which file)** the error occured (in our case this is not useful)
4. **Which line** has the error producing code
4. **Why** there was an error

<a name="errorex"></a>
#### Practice: 
Investigate our previous error message and find the corresponding error components. Fill the cell below with your answers.

##### FILL BELOW

Error type:

File: (Just skip this since we have only this file.)

Line:

Reason:

<a name="datype"></a>
## Data types

Data are of different types.

For example: Data that contain names would consist of characters and data that contain ages would consist of numbers. 

Python's most common data types are:

#### For numbers:
- [integers](#int) (for storing integers - whole numbers - e.g. 2)


- [floats](#float) (for storing numbers with fractions e.g. 1.0025)

#### For characters (text):
- [strings](#str) 

#### For logicals (1, 0 - True, False):
- [booleans](#bool) (binary data: True or False) 

#### For multiple data points:
- [lists](#list) (for storing an arbitrary dimension of data points e.g. a time trace)


- [tuples](#tup) (storing data pairs of same type e.g. XY coordinates)


- [dictionaries](#dict) (for storing parameters (key:value) e.g. "age":27)

<a name="int"></a>
### Integers

In [12]:
# Below are some examples of integers
my_age = 28
my_birthyear = 1992

print("I am {age} years old".format(age=my_age))
print("I was born on {year}".format(year=my_birthyear))

I am 28 years old
I was born on 1992

We can check the type of variables by using ```type()``` function

In [13]:
# Usage of type() function
type(my_age)

# Print the type
print(type(my_age))

# It will print out: <class 'int'> meaning that 
# the type (you call data types "class") is integer

<class 'int'>

In [14]:
# As you remember we can do calculations with Python like a calculator
x = 3
y = 4
z = x*y


print("x is {xVal}, y is {yVal}, z is {zVal}.".format(xVal=x, yVal=y, zVal=z))
print("x is {xType}, y is {yType}, z is {zType} ".format(xType=type(x), 
                                                         yType=type(y), 
                                                         zType=type(z)))

x is 3, y is 4, z is 12.
x is <class 'int'>, y is <class 'int'>, z is <class 'int'>

Now we have defined several varibles in the previous cells. These are stored in our **workspace**

write ```whos``` to check which variables we have in our current workspace.

In [15]:
whos

Variable       Type    Data/Info
--------------------------------
my_age         int     28
my_birthyear   int     1992
x              int     3
y              int     4
z              int     12

We can erase them using ```%reset```

In [16]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])?
Nothing done.

In [17]:
whos

Variable       Type    Data/Info
--------------------------------
my_age         int     28
my_birthyear   int     1992
x              int     3
y              int     4
z              int     12

#### Practice : <a name="errorex"></a>
1. Generate two integer type variables of your choice
2. Do a calculation that yields a fractional value (e.g. 5/2 = 2.5)
3. What is the type of our result variable (z, in this case)

In [18]:
# Below goes your code
x = 5
y = 2
z= x/y
# Your code ends


print("x is {xVal}, y is {yVal}, z is {zVal} ".format(xVal=x, yVal=y, zVal=z))
print("x is {xType}, y is {yType}, z is {zType} ".format(xType=type(x), 
                                                         yType=type(y), 
                                                         zType=type(z)))

x is 5, y is 2, z is 2.5
x is <class 'int'>, y is <class 'int'>, z is <class 'float'>

<a name="float"></a>
### Floats
**Floating point number** (Float) is a way of representing a non-integer real number with a computer.

In [19]:
# Calculating Body Mass Index (BMI)
my_weight = 75.4
my_height = 183.5 # Height in cm
my_height_meters = my_height / 100 # Calculate height in meters

my_BMI = (my_weight/((my_height_meters)**2)) 

print("BMI is: {bmi}".format(bmi=my_BMI))
print(type(my_BMI))

BMI is: 22.392326025139397
<class 'float'>

<a name="str"></a>
### Strings

What if we want to store characters instead of numbers? Usually we want to store a set of characters instead of storing each character 1 by 1 (like instead of storing - n, a, m, e - we want to store them together as -name-). This is called a string of characters. That's why the type is also called **string**.

In [20]:
# Some string examples
my_name = "Burak"
my_country = "Turkey"

In [21]:
# Check the type of the variable "my_name" below

# Your code below

# Your code ends

- We should use **double quoutes ```" __ "``` or single quotes ```' __ '```** when limiting a string.
- We can use the escape ```\\``` character to continue our string in the next line.
- Or, we can use **triple quoutes ```''' __ '''```** if we would like to use multiline strings

In [22]:
# Defining a single line string
singleLineString = 'ABC' # or "ABC" also works fine

# Defining a multi line string
multiline_string_1 = 'Our text is getting too long \
so I can continue on the next line of code' 

print(singleLineString)
print(multiline_string_1)

ABC
Our text is getting too long so I can continue on the next line of code

In [23]:
# A multiline string
multiline_string_2 = '''This
is 
a
multiline
string
'''
print(multiline_string_2)

This
is
a
multiline
string

#### Adding blank space (a.k.a. whitespace)
- Use ```\n``` to add a new line (like pressing enter)
- Use ```\t``` for adding a tab

In [24]:
# New line example
two_line_string = 'Hello \n world'
print(two_line_string)

Hello
 world

In [25]:
# Tab example
two_line_string = '\tHello  world'
print(two_line_string)

	Hello  world

#### Concatenating (combining) 
Sometimes we want to combine strings. There are many ways of doing it. 

A fast and easy-to-read way is using the plus **```+```** operator.

In [26]:
my_name = "Burak"
my_surname = "Gur"


my_fullname = my_name + my_surname # Just joining them together
my_fullname_nice = my_name + ' ' + my_surname # Joining with a space


print(my_fullname)
print(my_fullname_nice)

BurakGur
Burak Gur

#### Practice: Printing age as text
hint: [Use the error practice](#errorex)  we did before to really understand why the error is produced. Then solve it using the concept of [type conversions](#type_conv).

In [27]:
my_name = "Burak"
my_surname = "Gur"
my_age = 28


my_info = my_name + ' ' + my_surname + ' age: ' + my_age 


print(my_info)

TypeError: can only concatenate str (not "int") to str

In [28]:
# Your code goes below
my_name = "Burak"
my_surname = "Gur"
my_age = 28


my_info = my_name + ' ' + my_surname + ' age: ' + str(my_age) 


print(my_info)
# Your code ends here

Burak Gur age: 28

**The output should be:**

Burak Gur age: 28

#### String formatting
An easier way of concatenating is with the ```format()``` function.

In [29]:
my_name = "Burak"
my_surname = "Gur"
my_age = 28


my_info = "Name is: {name}, surname is: {surname}, age is: {age}".format(name=my_name,
                                                                        surname=my_surname,
                                                                        age=my_age)
print(my_info)

Name is: Burak, surname is: Gur, age is: 28

<a name="bool"></a>
### Booleans

Booleans are data that can vary between only two values (binary) e.g. **0-1** or **True-False**

In [30]:
# Example of boolean
name = "Burak"
surname = "Gur"
age = 28
is_student = True
is_female = False

<a name="list"></a>
### Lists
Lists are used to store multiple data points. While defining a list, surround the list with brackets ```[]``` and separate each element with a comma ```,```. We can also modify the contents of a list.

In [3]:
ages = [18, 23, 25, 24, 20, 33, 35]

Curious of how many elements your list has? You can use the ```len()``` function.

In [4]:
list_length = len(ages)

print("My list has {elem_n} elements".format(elem_n = list_length))

My list has 7 elements

We can access the elements of lists using [indexing](#indexing).

<a name="tup"></a>
### Tuples
Tuples lets us "chunk" together related information. They are quite similar to lists but one difference is that once created, their elements can not be modified.

In [33]:
# Let's generate a tuple for storing personal information

tuple_database = ("Burak", "Gur", 27, "Student", "Turkey")

print(tuple_database)

('Burak', 'Gur', 27, 'Student', 'Turkey')

In [34]:
# Since with this data type we're not really sure of what is the information

<a name="dict"></a>
### Dictionaries
Dictionaries store data as **key : value** pairs where keys are the indices of values.

In [35]:
mouse_information =	{
  "mouse_id": 396881,
  "age": 30,
  "sex": 'm',
  "genotype": 'mutant'
}
print(mouse_information)

{'mouse_id': 396881, 'age': 30, 'sex': 'm', 'genotype': 'mutant'}

In [36]:
# What is the genotype of the mouse
mouse_information['genotype']

'mutant'

Let's add some new information

In [37]:
mouse_information['size'] = 5.3 # in cm
mouse_information['weight'] = 23.4 # in g
print(mouse_information)

{'mouse_id': 396881, 'age': 30, 'sex': 'm', 'genotype': 'mutant', 'size': 5.3, 'weight': 23.4}

<a name="type_conv"></a>
### Converting types
Sometimes we want to convert the types of variables in order to work with other variables of other types.

For example if I want to print an **integer** type variable then I should first **convert** it into a **string** type so the **print()** function can understand the data.

In [38]:
# Type conversion is done by using type names as functions 
my_age = 28

print("First 'my_age' was: " + str(type(my_age)))


# Convert the type using the target type name as a function: str(), int()
my_age_text = str(my_age)

print("Then 'my_age_text' became: " + str(type(my_age_text)))

# Then we can print it without errors
print("My age is: " + my_age_text)

First 'my_age' was: <class 'int'>
Then 'my_age_text' became: <class 'str'>
My age is: 28

<a name="indexing"></a>
### Indexing
When we work with any forms of data, we would like to access data quickly. We can use indexing to quickly locate data (for example within a list) without having to search everywhere. Simplest way to index is using the elements location within a data structure (a list, tuple etc.)

We use square brackets ```[]``` after the variable name for indexing an element of that variable. ```variable_name[index]```

Simplest way of indexing is to use integers to get elements from a specific position in a data structure: ```my_list[10]```

In [39]:
ages = [18, 23, 25, 24, 20, 33, 35]

#### First element is at location 0!
In python the first element is located at ```0``` meaning that we must start counting from 0 to access the elements.

In [40]:
first_age = ages[0]
print(first_age)

18

#### Use negative to reverse it!
We can count from reverse using negative numbers: 

e.g., access the last element using ```-1``` as an index.

In [41]:
last_age = ages[-1]
print(last_age)

35

In [42]:
second_to_last = ages[-2]
print(second_to_last)

33

Back to [lists](#list)

#### Summary of locations 
python-sticky-note-variables.svg

<img src="https://github.com/bgur123/python-beginners-course/blob/master/Content/Media/indexing.png?raw=1" width ="700px">

#### Slice a piece out!

We can also access multiple elements (also called **slicing**):

```list[start : stop]```

- ```start``` is the index of the **first element to include**
- ```stop``` is the index of the element to **stop at without including** it in the slice.

In [43]:
first_3_ages = ages[0:3]
print(first_3_ages)

[18, 23, 25]

We can leave either one blank to start from beginning or end at the end.

In [44]:
first_3_ages = ages[:3]
print(first_3_ages)

[18, 23, 25]

In [45]:
last_3_ages = ages[-3:]
print(last_3_ages)

[20, 33, 35]

In [46]:
all_ages = ages[:]
print(all_ages)

[18, 23, 25, 24, 20, 33, 35]

#### Stepping

We can take steps while indexing. This enables us to take for example, every 2nd element.

```list[start : stop : step]```

- ```step``` determines the step size.

In [47]:
some_ages = ages[::2]
print('Original list:')
print(ages)
print('Every 2nd element (step is 2):')
print(some_ages)

Original list:
[18, 23, 25, 24, 20, 33, 35]
Every 2nd element (step is 2):
[18, 25, 20, 35]

Reverse the direction of stepping using negative integers.

In [48]:
some_ages = ages[::-2]
print('Original list:')
print(ages)
print('Every 2nd element in reverse (step is -2):')
print(some_ages)

Original list:
[18, 23, 25, 24, 20, 33, 35]
Every 2nd element in reverse (step is -2):
[35, 20, 25, 18]

### Exercise time!