# TReND Python Course: Day 1, Theory 1
# Colab & Python intro

__Content creators:__ Foutse Yuehgoh & Burak GÃ¼r

## Learning objectives

- [Colab - Getting comfortable](#Colab)


- [Python - What & Why?](#Python-what-why)

- [Programming with python](#Programming)
    - Calculations
    - Working with data -> variables
    - Data types

<a name="Colab"></a>
# Working with python notebooks using Google Colab

# **Brief history:**


*   **Python:** [Python](https://www.python.org/) is a popular programming languag created by Guido van Rossum, and released in 1991. It is a powerful interpreted high-level general-purpose programming language with simple easy-to-use syntax. Python is commonly used in web development (server-side), mathematics, system scripting, data science, creating software prototypes, and so on. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed.
*   **Colaboratory (Colab):** [Colab](https://colab.research.google.com/notebooks/intro.ipynb#recent=true) is a free Google Research product, that allows anyone to write and run Python code of their choice through a browser. In more technical terms, Colab is a hosted Jupyter notebook service that requires no configuration and provides free access to computing resources (limited), including built-in GPU and TPU. Colab allows you to use and share Jupyter notebooks with other people, without the need to download, install or run anything. Colab notebooks are stored in Google Drive and can also be uploaded from GitHub. They can be shared just as one would share Google Docs or Sheets documents.

# **Colab notebook tips:**

*   If you choose to share a notebook, all of its content (text, code, output, and comments) will be shared. You can block content from being saved or shared as output from code cells by doing, select ***Edit> Notebook settings>*** Omit **output item** from code cells when registering this notebook.
*   The virtual machine you are using, including any custom files and libraries you configured, will not be shared. It is, therefore, recommended that you include cells that install and load the libraries or custom files needed by your notebook.


*   To search for Colab notebooks, use Google Drive. Click on the Colab logo in the upper left corner of the notebook to view all notebooks in Google Drive. You can also find notebooks that you have recently opened in ***File> Open Notebook***.
*   Your code is executed on a virtual machine specific to your account. Virtual machines are deleted when they are inactive for a certain time and have a maximum lifetime imposed by the Colab service. Select ***Run> Reset Runtime Environment*** to restore all virtual machines assigned to you to their original state. This can be useful in cases where a virtual machine is no longer functional, for example, due to accidental replacement of system files or the installation of incompatible software. Colab limits the frequency of such resets to avoid excessive consumption of resources.



*   Various limits are applied in Google Drive, such as the number of operations performed (per user and per file) and bandwidth quotas. Exceeding these limits triggers an Input/output error and the display of a notification in the Colab user interface. This scenario usually occurs when trying to access a popular shared file, or too many separate files too suddenly. You can work around the problem by using the following methods:
         
      - Copy the file through drive.google.com and avoid large-scale sharing, so that other users don't hit the limits that apply to it.
      - Avoid performing many small I/O read operations. Favor copying data from Drive to the Colab VM in an archive format (for example, .zip or .tar.gz) and unarchive the data locally on the VM rather than in the installed Drive directory.
      - Wait a day for the quota limits to reset.
      
[Read more](https://research.google.com/colaboratory/intl/en-GB/faq.html)

---

### Python notebooks
This is a python notebook (officially called a *Jupyter notebook* or an *IPython notebook* --> with the extension ".ipynb"), which is a basically just a super fancy way of writing python code.
  - We can write formatted **text together with executable code**.

  - Allows **rapid development** of python code by writing small bits and testing them.

  - We can **easily share** our code with others and they can run it without problems.

### Colaboratory (Colab)
Colab allows us to take a Jupyter notebook and lets us **edit/use/share** it **easy and free!** 

Additionally:

  - Runs on the **Google Cloud** - doesn't depend much on your computer capabilities.
  
  - Has many pre-installed packages. **Zero configuration!**

  
  - Run code super fast --> **GPU usage** is provided free of charge for some hours of usage every day.

For example, to run a code, just hover the mouse over ```[ ]``` and press the play button to the upper left. Or press **shift-enter to execute**.

- Below we have a code, just run it without trying to understand.

In [ ]:
print ('Hello World')

Hello World

Great! Let's move on to working with Python.

---
<a name="Python-what-why"></a>
# Python - What & Why?

#What can Python do?

---


* Python can be used on a server to create web applications.
* Python can be used alongside software to create workflows.
* Python can connect to database systems. It can also read and modify files.
* Python can be used to handle big data and perform complex mathematics.
* Python can be used for rapid prototyping, or for production-ready software development.


#Why Python?

---


* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
* Python has a simple syntax similar to the English language.
* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
* Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
* Python can be treated in a procedural way, an object-oriented way or a functional way.

**Resources:**
* [Programiz](https://www.programiz.com/python-programming)
* [datacamp](https://learn.datacamp.com/courses/tech:python?utm_source=adwords_ppc&utm_campaignid=654038607&utm_adgroupid=54278411964&utm_device=c&utm_keyword=%2Blanguage%20%2Bpython%20%2Bprogramming&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=262582850841&utm_targetid=aud-299261629574:kwd-552072783517&utm_loc_interest_ms=&utm_loc_physical_ms=9056331&gclid=Cj0KCQjw5auGBhDEARIsAFyNm9FAWR3dZV833urTsgggqq0lAaMk6BRXg9CsS2bhaNo34H5aNPM6uk0aAiaaEALw_wcB)
* [W3schools](https://www.w3schools.com/python/python_intro.asp)
* [Coursera](https://www.coursera.org/specializations/python?utm_source=gg&utm_medium=sem&utm_campaign=06-PythonforEverybody-ROW&utm_content=06-PythonforEverybody-ROW&campaignid=6493101579&adgroupid=83560622768&device=c&keyword=python%20tutorial%20for%20beginners&matchtype=b&network=g&devicemodel=&adpostion=&creativeid=506843632505&hide_mobile_promo&gclid=Cj0KCQjw5auGBhDEARIsAFyNm9FM0o1tEpibGYE-1M2LQmlv2ctyf50caHOHA20YFVZe14CWMRV6xiUaAgMeEALw_wcB)

## Why programming and why with Python?

1. Asking why people want to use programming -> makes the course a bit interactive and interesting
  - We can do this with a web survey app 

2. Coming from their examples, explaining why programming is useful. For example maybe something like [this](https://nbviewer.jupyter.org/github/bgur123/python-sbeginners-course/blob/master/Presentations/extra/0_Intro_Programming.ipynb) but with more general examples and maybe some interactive parts?

---
<a name="Programming"></a>
# Programming with Python



### Overview:
#### - [Python as a calculator](#calculator)
#### - [Variables](#var)
#### - [Errors](#err) 
#### - [Data types](#datype)
- For single data points
    - [**integers**](#int) - for numbers without decimals
    - [**floats**](#float) - for numbers with decimals
    - [**strings**](#str) - for characters, words etc.
    - [**booleans**](#bool) - for binary (True or False, 1 or 0)
- For multiple data points - to be covered later in the course.
    
#### - [Type conversions](#type_conv)

<a name="calculator"></a>
## Python as a calculator
Python can be used as a calculator. And basic mathematical operations can be easily done using **python operators** (pre defined symbols for doing operations between values or variables). 

| Operator | Name    |
|------|------|
|```+```  | Addition|
|```-```  | Subtraction|
|```*```  | Multiplication|
|```/```  | Division|
|```**```  | Exponentiation|
|```%```  | Modulus|

In [ ]:
1+5

6

In [ ]:
2*3

6

In [ ]:
2**3

8

In [ ]:
100%24

4

The **order** of operations is important.

Use parantheses ```()``` to define order of operations.

Add 3 to 5 and divide by 4 -> result is 2

In [16]:
3+5/4

4.25

In [17]:
(3+5)/4

2.0

### Bonus: Seeing our results with ```print()``` function
When we write multiple lines of code that contain operations, we can just see the result of our last operation.

In [27]:
3+3
3+2

5

To see stuff after running our code, we can use the ```print()``` function of python:

In [29]:
print(3+3)
print(3+2)

6
5

But we don't just want to see stuff, we want to store our results and work with them.

<a name="var"></a>
## Storing data: Variables

Variables are used to **store** data (also known as **value** in programming) of any sort. 

You can think of them as a depot where you put data inside:

<img src="https://github.com/bgur123/python-beginners-course/blob/master/trend_course/images/var1.svg?raw=1" width ="200px">

### Creating variables: Assignments
Variables are created with an assignment statement. The syntax (kind of grammar) of variable assignment is:

```variable_name = a value``` (or an expression e.g., ```1+1```)

In [18]:
age = 29 
name = "Burak"
height_cm = 183

<img src="https://github.com/bgur123/python-beginners-course/blob/master/trend_course/images/var2.svg?raw=1" width ="600px">


We just *defined* variables by assigning values to each of them. Now we can use them.

What is my height in feets? **1 feet = 30.48 cm**

In [15]:
height_feet = height_cm / 30.48
print("height_feet is:",height_feet)

height_feet is: 6.003937007874016

<img src="https://github.com/bgur123/python-beginners-course/blob/master/trend_course/images/var3.svg?raw=1" width ="600px">

### Bonus: Commenting on code
We can add some text to our code to inform/remind ourselves or others:
- what our code is doing
- why it is doing this particular thing. (more important than what)

In [ ]:
height_feet = height_cm / 30.48 # 1 foot is 30.48 cm
print("height_feet is:",height_feet)

### Changing variables
When you use variables in other assignments or operations, they don't change!

In [23]:
half_height = height_cm / 2
print("height_cm is:",height_cm)
print("half_height is:",half_height)

height_cm is: 183
half_height is: 91.5

To change variables, we need to assign them again.

In [30]:
height_cm = 160
print("height_cm is:",height_cm)

height_cm is: 160

### Naming variables
Python variable names:
- can contain letters, numbers and underscores
- can NOT start with a number
- are case sensitive (```age``` vs ```Age```)

Suggestion: Variable names should be **concise** (short but informative): 

- ```my_telephone_number``` -> ```phone_num```
- ```p_n``` -> ```phone_num```

### Checking - deleting variables
Now we have defined several varibles in the previous cells. These are stored in our **workspace**

write ```whos``` to check which variables we have in our current workspace.

In [37]:
whos

Variable      Type     Data/Info
--------------------------------
Age           int      1
a             int      2
age           int      29
age_months    int      348
age_years     int      29
b             int      4
birthyear     int      1992
half_height   float    91.5
height_cm     int      160
height_feet   float    6.003937007874016
name          str      Burak

We can erase them using ```%reset```

In [38]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [39]:
whos

Interactive namespace is empty.

<a name="err"></a>
## Errors

We are all human. Sometimes we might write incorrect code and python can inform this to us by producing an error. These errors also contain messages that explain what went wrong while python was executing your code.

In [ ]:
print(y)
y = 10

NameError: name 'y' is not defined


These messages are composed in a logical way, :
1. What is the **type of error** (<font color=red>NameError</font>) -> [More on error types here](https://docs.python.org/3/tutorial/errors.html)
2. **Where (which file)** the error occured (in our case this is not useful because we just have this file)
4. **Which line** has the error producing code
4. **Why** there was an error

<a name="errorex"></a>
#### Practice: 
Investigate the next error message and find the corresponding error components. Fill the cell below with your answers.

In [33]:
age_years = 29
age_months = age_years * 12
print(age_days)

NameError: ignored

##### FILL BELOW

Error type:

File: (Just skip this since we have only this file.)

Line:

Reason:

<a name="datype"></a>
## Data types

Data are of different types.

For example: 
- Data that contain names would consist of characters 
- Data that contain ages would consist of numbers. 

Python's most common data types are:

#### For numbers:
- [integers](#int) (for storing integers - whole numbers - e.g. 2)


- [floats](#float) (for storing numbers with fractions e.g. 1.0025)

#### For characters (text):
- [strings](#str) 

#### For logicals (1, 0 - True, False):
- [booleans](#bool) (binary data: True or False)

<a name="int"></a>
### Integers

Below are some examples of integers

In [44]:
age = 29
birthyear = 1992

print("I am", age, "years old.")
print("I was born in", birthyear)

I am 29 years old.
I was born in 1992

We can check the type of variables by using ```type()``` function:

```type(age)```

In [36]:
print(type(age))

<class 'int'>

It will print out: <class 'int'> meaning that the type (you call data types "class") is integer

In [45]:
x = 3
y = 4
z = x*y

#### Practice : <a name="errorex"></a>
1. Generate two integer type variables of your choice
2. Do a calculation that yields a fractional value (e.g. 5/2 = 2.5)
3. What is the type of our result variable (z, in this case)

In [46]:
# Below goes your code
x = 
y = 
z = 
# Your code ends

print("x is",x, "y is",y, "z is",z)
print("x is",type(x), "y is",type(y), "z is",type(z))

SyntaxError: ignored

<a name="float"></a>
### Floats
**Floating point number** (Float) is a way of representing a non-integer real number with a computer.

In [ ]:
# Calculating Body Mass Index (BMI)
my_weight = 75.4
my_height = 183.5 # Height in cm
my_height_meters = my_height / 100 # Calculate height in meters

my_BMI = (my_weight/((my_height_meters)**2)) 

print("BMI is: {bmi}".format(bmi=my_BMI))
print(type(my_BMI))

BMI is: 22.392326025139397
<class 'float'>

<a name="str"></a>
### Strings

What if we want to store characters instead of numbers? Usually we want to store a set of characters instead of storing each character 1 by 1 (like instead of storing - n, a, m, e - we want to store them together as -name-). This is called a string of characters. That's why the type is also called **string**.

In [ ]:
# Some string examples
my_name = "Burak"
my_country = "Turkey"

In [ ]:
# Check the type of the variable "my_name" below

# Your code below

# Your code ends

- We should use **double quoutes ```" __ "``` or single quotes ```' __ '```** when limiting a string.
- We can use the escape ```\\``` character to continue our string in the next line.
- Or, we can use **triple quoutes ```''' __ '''```** if we would like to use multiline strings

In [ ]:
# Defining a single line string
singleLineString = 'ABC' # or "ABC" also works fine

# Defining a multi line string
multiline_string_1 = 'Our text is getting too long \
so I can continue on the next line of code' 

print(singleLineString)
print(multiline_string_1)

ABC
Our text is getting too long so I can continue on the next line of code

In [ ]:
# A multiline string
multiline_string_2 = '''This
is 
a
multiline
string
'''
print(multiline_string_2)

This
is
a
multiline
string

#### Adding blank space (a.k.a. whitespace)
- Use ```\n``` to add a new line (like pressing enter)
- Use ```\t``` for adding a tab

In [ ]:
# New line example
two_line_string = 'Hello \n world'
print(two_line_string)

Hello
 world

In [ ]:
# Tab example
two_line_string = '\tHello  world'
print(two_line_string)

	Hello  world

#### Concatenating (combining) 
Sometimes we want to combine strings. There are many ways of doing it. 

A fast and easy-to-read way is using the plus **```+```** operator.

In [ ]:
my_name = "Burak"
my_surname = "Gur"


my_fullname = my_name + my_surname # Just joining them together
my_fullname_nice = my_name + ' ' + my_surname # Joining with a space


print(my_fullname)
print(my_fullname_nice)

BurakGur
Burak Gur

#### Practice: Printing age as text
hint: [Use the error practice](#errorex)  we did before to really understand why the error is produced. Then solve it using the concept of [type conversions](#type_conv).

In [ ]:
my_name = "Burak"
my_surname = "Gur"
my_age = 28


my_info = my_name + ' ' + my_surname + ' age: ' + my_age 


print(my_info)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# Your code goes below
my_name = "Burak"
my_surname = "Gur"
my_age = 28


my_info = my_name + ' ' + my_surname + ' age: ' + str(my_age) 


print(my_info)
# Your code ends here

Burak Gur age: 28

**The output should be:**

Burak Gur age: 28

#### String formatting
An easier way of concatenating is with the ```format()``` function.

In [ ]:
my_name = "Burak"
my_surname = "Gur"
my_age = 28


my_info = "Name is: {name}, surname is: {surname}, age is: {age}".format(name=my_name,
                                                                        surname=my_surname,
                                                                        age=my_age)
print(my_info)

Name is: Burak, surname is: Gur, age is: 28

<a name="bool"></a>
### Booleans

Booleans are data that can vary between only two values (binary) e.g. **0-1** or **True-False**

In [ ]:
# Example of boolean
name = "Burak"
surname = "Gur"
age = 28
is_student = True
is_female = False

<a name="type_conv"></a>
### Converting types
Sometimes we want to convert the types of variables in order to work with other variables of other types.

For example if I want to print an **integer** type variable then I should first **convert** it into a **string** type so the **print()** function can understand the data.

In [ ]:
# Type conversion is done by using type names as functions 
my_age = 28

print("First 'my_age' was: " + str(type(my_age)))


# Convert the type using the target type name as a function: str(), int()
my_age_text = str(my_age)

print("Then 'my_age_text' became: " + str(type(my_age_text)))

# Then we can print it without errors
print("My age is: " + my_age_text)

First 'my_age' was: <class 'int'>
Then 'my_age_text' became: <class 'str'>
My age is: 28